<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign up</title>
</head>
<body>
<b>Sign up</b>
<div>
    <form th:action="@{/registration}" th:object="${userDTO}" method="post">
        <div>
            <label> Username: <input type="text" th:name="login" th:value="*{login}"/></label>
            <label> Password: <input type="password" th:name="password" th:value="*{password}"/> </label>
            <label th:if="${#fields.hasErrors('all')}" th:errors="*{login}"></label>
            <br>
            <button type="submit">Sign up</button>
        </div>
    </form>
</div>
</body>
</html>