<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${subgroup.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${subgroup.title}"></h1>
<h2 th:text="${subgroup.description}"></h2>

<div>
    <div><b>Edit subgroup:</b></div>
    <form th:action="@{/admin/editSubgroup}" th:object="${subgroup}" method="post">
        <input type="text" name="title" th:field="${subgroup.title}">
        <input type="text" name="url" th:field="${subgroup.url}">
        <input type="text" name="description" th:field="${subgroup.description}">
        <input type="hidden" th:name="id" th:value="${subgroup.id}">
        <input type="hidden" th:name="categoryUrl" th:value="${category.url}">
        <button type="submit">Edit</button>
    </form>
</div>

<div>
    <div><b>Projects:</b></div>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${projects.empty}">
            <td colspan="2"> No projects available</td>
        </tr>
        <tr th:each="project : ${projects}">
            <td><span th:text="${project.title}"> Title </span></td>
            <td>
                <a th:href="@{/admin/{categoryUrl}/{subgroupUrl}/{projectUrl}(categoryUrl = ${category.url},
                        subgroupUrl = ${subgroup.url}, projectUrl = ${project.url})}">
                    <span th:text="${project.url}"> URL </span>
                </a>
            </td>
            <td><span th:text="${project.description}"> Description </span></td>
            <td>
                <div>
                    <form th:action="@{/admin/removeProject}" method="post">
                        <input type="hidden" th:name="categoryUrl" th:value="${category.url}">
                        <input type="hidden" th:name="subgroupUrl" th:value="${subgroup.url}">
                        <input type="hidden" th:name="projectTitle" th:value="${project.title}">
                        <button type="submit">Remove</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div><b>Add new project:</b></div>
    <form th:action="@{/admin/addProject}" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="url" placeholder="URL">
        <input type="text" name="description" placeholder="Description">
        <input type="file" name="files" multiple>
        <input type="hidden" th:name="categoryUrl" th:value="${category.url}">
        <input type="hidden" th:name="subgroupUrl" th:value="${subgroup.url}">
        <button type="submit">Add</button>
    </form>
</div>

</body>
</html>