<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome!</h1>

<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${categories.empty}">
            <td colspan="2"> No categories available</td>
        </tr>
        <tr th:each="category : ${categories}">
            <td><span th:text="${category.id}"> id </span></td>
            <td><span th:text="${category.title}"> Title </span></td>
            <td>
                <a th:href="@{/admin/{categoryUrl}(categoryUrl = ${category.url})}">
                    <span th:text="${category.url}"> URL </span>
                </a>
            </td>
            <td><span th:text="${category.description}"> Description </span></td>
            <td>
                <div>
                    <form th:action="@{/admin/removeCategory}" method="post">
                        <input type="hidden" th:name="id" th:value="${category.id}">
                        <button type="submit">Remove</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div><b>Add new category:</b></div>
    <form th:action="@{/admin/addCategory}" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="url" placeholder="URL">
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Add Category</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>