<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${projectDTO.title}"></title>
    <div th:replace="header :: custom_header"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="project-title" th:text="${projectDTO.title}"></h3>
            <div class="project-description" th:text="${projectDTO.description}"></div>
            <div>
                <div><b>Edit project:</b></div>
                <form th:action="@{/admin/editProject}" th:object="${projectDTO}" method="post">
                    <div>
                        <label>Title <input type="text" th:name="title" th:value="*{title}"></label>
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></label>
                    </div>
                    <div>
                        <label>URL <input type="text" th:name="url" th:value="*{url}"></label>
                        <label th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></label>
                    </div>
                    <div>
                        <label>Description <input type="text" th:name="description" th:value="*{description}"></label>
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{description}"></label>
                    </div>
                    <div th:if="${#fields.hasErrors('global')}">
                        <p th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
                    </div>
                    <input type="hidden" th:name="id" th:value="${projectDTO.id}">
                    <input type="hidden" th:name="categoryUrl" th:value="${categoryDTO.url}">
                    <input type="hidden" th:name="subgroupUrl" th:value="${subgroupDTO.url}">
                    <button type="submit">Edit</button>
                </form>
            </div>
            <div th:if="${#lists.isEmpty(images)}">
                <span> No images available</span>
            </div>
            <table>
                <tbody>
                <tr th:each="imageDTO : ${images}">
                    <td><span th:text="${imageDTO.title}"> Title </span></td>
                    <td><img class="project-images" th:src="@{'data:image/jpeg;base64,' + ${imageDTO.data}}" alt=""/></td>
                    <td>
                        <div>
                            <form th:action="@{/admin/removeImage}" method="post">
                                <input type="hidden" th:name="categoryUrl" th:value="${categoryDTO.url}">
                                <input type="hidden" th:name="subgroupUrl" th:value="${subgroupDTO.url}">
                                <input type="hidden" th:name="projectUrl" th:value="${projectDTO.url}">
                                <input type="hidden" th:name="imageTitle" th:value="${imageDTO.title}">
                                <button type="submit">Remove</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <div><b>Add new images:</b></div>
                <form th:action="@{/admin/addImages}" method="post" enctype="multipart/form-data">
                    <input type="file" name="files" multiple>
                    <input type="hidden" th:name="categoryUrl" th:value="${categoryDTO.url}">
                    <input type="hidden" th:name="subgroupUrl" th:value="${subgroupDTO.url}">
                    <input type="hidden" th:name="projectUrl" th:value="${projectDTO.url}">
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: custom_footer"></div>
</body>
</html>