<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${projectDTO.title}"></title>
    <div th:replace="header :: custom_header"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="project-title" th:text="${projectDTO.title}"></h3>
            <div class="project-description" th:text="${projectDTO.description}"></div>
            <div th:if="${#lists.isEmpty(imagePage.content)}">
                <span> Images will be added soon</span>
            </div>
            <img th:each="imageDTO : ${imagePage.content}" class="project-images" th:src="@{'data:image/jpeg;base64,' + ${imageDTO.data}}" alt=""/>
            <!-- pagination -->
            <nav aria-label="Pagination" th:if="${imagePage.totalPages gt 0}">
                <ul class="pagination pagination-lg justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${imagePage.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/{categoryUrl}/{subgroupUrl}/{projectUrl}
                           (page=${imagePage.number lt 2 ? 1 : imagePage.number},
                               categoryUrl = ${imagePage.content[0].project.subgroup.category.url},
                               subgroupUrl = ${imagePage.content[0].project.subgroup.url},
                               projectUrl = ${imagePage.content[0].project.url})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq imagePage.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence(1, imagePage.totalPages > 10 + imagePage.number ? imagePage.number + 10 : imagePage.totalPages, 1)}">
                        <a class="page-link" th:href="@{/{categoryUrl}/{subgroupUrl}/{projectUrl}(page=${i},
                            categoryUrl = ${imagePage.content[0].project.subgroup.category.url},
                            subgroupUrl = ${imagePage.content[0].project.subgroup.url},
                            projectUrl = ${imagePage.content[0].project.url})}"
                           th:text="${i}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${imagePage.number + 10 < imagePage.totalPages}">
                        <a class="page-link" href="#">
                            <span>...</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${imagePage.number + 1 eq imagePage.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/{categoryUrl}/{subgroupUrl}/{projectUrl}(page=${imagePage.number + 2},
                                categoryUrl = ${imagePage.content[0].project.subgroup.category.url},
                                subgroupUrl = ${imagePage.content[0].project.subgroup.url},
                                projectUrl = ${imagePage.content[0].project.url})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer th:replace="footer :: custom_footer"></footer>
</body>
</html>