<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${categoryDTO.title}"></title>
    <div th:replace="header :: custom_header"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="project-title" th:text="${categoryDTO.title}"></h3>
            <div class="project-description" th:text="${categoryDTO.description}"></div>


            <div>
                <div><b>Subgroups:</b></div>
                <table>
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(subgroups)}">
                        <td colspan="2"> No subgroups available</td>
                    </tr>
                    <tr th:each="subgroup : ${subgroups}">
                        <td><span th:text="${subgroup.id}"> id </span></td>
                        <td><span th:text="${subgroup.title}"> Title </span></td>
                        <td>
                            <a th:href="@{/{categoryUrl}/{subgroupUrl}(categoryUrl = ${categoryDTO.url}, subgroupUrl = ${subgroup.url})}">
                                <span th:text="${subgroup.url}"> URL </span>
                            </a>
                        </td>
                        <td><span th:text="${subgroup.description}"> Description </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>

<div th:insert="footer :: custom_footer"></div>
</body>
</html>