<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${subgroup.title}"></title>
    <div th:replace="header :: custom_header"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${subgroup.title}"></h1>
            <h2 th:text="${subgroup.description}"></h2>

            <div>
                <div><b>Projects:</b></div>
                <table>
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${projects.empty}">
                        <td colspan="2"> No projects available</td>
                    </tr>
                    <tr th:each="project : ${projects}">
                        <td><span th:text="${project.id}"> id </span></td>
                        <td><span th:text="${project.title}"> Title </span></td>
                        <td>
                            <a th:href="@{/{categoryUrl}/{subgroupUrl}/{projectUrl}(categoryUrl = ${category.url}, subgroupUrl = ${subgroup.url}, projectUrl = ${project.url})}">
                                <span th:text="${project.url}"> URL </span>
                            </a>
                        </td>
                        <td><span th:text="${project.description}"> Description </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: custom_footer"></div>
</body>
</html>