<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${project.title}"></h1>
<h2 th:text="${project.description}"></h2>

<div>
    <div><b>Images:</b></div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${images.empty}">
            <td colspan="2"> No images available</td>
        </tr>
        <tr th:each="image : ${images}">
            <td><span th:text="${image.id}"> id </span></td>
            <td><span th:text="${image.title}"> Title </span></td>
            <td><img th:src="@{'data:image/jpeg;base64,' + ${image.data}}" alt=""/></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>