@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.row{
    margin-right:0!important;
}

body .container {
    padding: 100px 15px 60px;
}

.carousel-inner img {
    height: 800px;
    max-height: 800px;
}

.page-link {
    color: #00ADB5;
}

.page-item.active .page-link {
    background-color: #00ADB5;
    border-color: #00ADB5;
}

.project-title {
    margin: 25px auto;
}

.project-images {
    margin: 8px auto;
    max-height: inherit;
    max-width: inherit;
    min-height: inherit;
    width: 100%;
}

.project-description {
    width: 100%;
    position: relative;
    text-align: justify;
    padding: 5px 0;
    font-size: 15px;
    margin: 0 0 15px 0;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: aliceblue;
    background-color: #00ADB5;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








