<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:object="${category}" th:text="${category.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${category.title}"></h1>
<h2 th:text="${category.description}"></h2>

<div sec:authorize="hasAuthority('ADMIN')">
    <div><b>Edit category:</b></div>
    <form th:action="@{/editCategory}" th:object="${category}" method="post">
        <input type="text" name="title" th:field="${category.title}">
        <input type="text" name="url" th:field="${category.url}">
        <input type="text" name="description" th:field="${category.description}">
        <input type="hidden" th:field="${category.id}">
        <button type="submit">Edit</button>
    </form>
</div>

<div>
    <div><b>Subgroups:</b></div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${subgroups.empty}">
            <td colspan="2"> No subgroups available</td>
        </tr>
        <tr th:each="subgroup : ${subgroups}">
            <td><span th:text="${subgroup.id}"> id </span></td>
            <td><span th:text="${subgroup.title}"> Title </span></td>
            <td>
                <a th:href="@{/{categoryUrl}/{subgroupUrl}(categoryUrl = ${category.url}, subgroupUrl = ${subgroup.url})}">
                    <span th:text="${subgroup.url}"> URL </span>
                </a>
            </td>
            <td><span th:text="${subgroup.description}"> Description </span></td>
            <td>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/removeSubgroup}" method="post">
                        <input type="hidden" th:name="categoryId" th:value="${category.id}">
                        <input type="hidden" th:name="subgroupId" th:value="${subgroup.id}">
                        <button type="submit">Remove</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <div><b>Add new subgroup:</b></div>
    <form th:action="@{/addSubgroup}" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="url" placeholder="URL">
        <input type="text" name="description" placeholder="Description">
        <input type="hidden" th:name="categoryId" th:value="${category.id}">
        <button type="submit">Add</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>